<!-- veiw page/Template to be rendered -->
<!DOCTYPE html>
<html>
    <head>
        <title>
            <%= title %>
        </title>
        <script src="https://kit.fontawesome.com/726d2f0aee.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/css/home.css">
    </head>
    <body>
        <!-- main div -->
        <div id = "main-div">
            <!-- title of the page -->
            <div id="page-title">
                To-Do List
            </div>

            <div id="task-list">
                <!-- getting task details using form -->
                <form action="/create-task" method="POST">
                    <!-- Desciption -->
                    <div id="description">
                    <p class='heading'> DESCRIPTION </p>
                    <textarea id="description-form" name="description" placeholder="What do you need to do?" required></textarea>
                    </div>

                    <!-- Category -->
                    <div id="category_duedate">
                        <div id="category-div">
                            <p class="heading"> CATEGORY </p>
                            <select name="category" id="category" required>
                                <option selected>Choose a category</option>
                                <option value="Personal">Personal</option>
                                <option value="Work">Work</option>
                                <option value="School">School</option>
                                <option value="Cleaning">Cleaning</option>
                                <option value="Other">Other</option>
                            </select>
                        </div>

                        <!-- due date -->
                        <div id="due_date-div">
                            <p class="heading"> DUE DATE </p>
                            <input type="date" name="due_date" id="due_date" >
                        </div>
                    </div>
                        
                        
                        <!-- Add and delete button -->
                    <div id="add-delete-button">
                        <div  id="add-button-container">
                            <button type="submit" id="add-button"><i class="fas fa-plus"></i> &nbsp; ADD TASK</button>
                        </div>
                
                    
                        <div id="delete-button-container">
                                <button type="submit" id="delete-button" form="task-delete"><i class="fas fa-trash-alt"></i> &nbsp; DELETE</button>
                        </div>
                    </div>

                </form>

                <!-- displaying task details -->
                <form id="task-delete" action="/delete-contact" method="GET">
                <ul>
                    <% for (let i of task_list) { %>
                        <li>
                            <div class="task-list-container">
                                <div class="description-date-container">
                                    <label class="description-list">
                                        <input type="checkbox" class="todo-checkbox" name="<%= i._id%>"> <%= i.description %> 
                                        <label class="due_date-list"> <i class="fas fa-calendar-week"></i> 
                                            <%
                                                 var months = {
                                                    '01': 'JAN',
                                                    '02': 'FEB',
                                                    '03': 'MAR',
                                                    '04': 'APR',
                                                    '05': 'MAY',
                                                    '06': 'JUN',
                                                    '07': 'JUL',
                                                    '08': 'AUG',
                                                    '09': 'SEP',
                                                    '10': 'OCT',
                                                    '11': 'NOV',
                                                    '12': 'DEC'
                                                 }
                                                %>
                                            <%=  months[i.due_date.slice(5,7)] + ' ' + i.due_date.slice(8,10) + ', ' + i.due_date.slice(0,4) %> 
                                        </label>
                                    </label>
                                    
                                </div>

                                <div class="category-container">
                                    <label class="category-list"> <%= i.category %> </label>
                                </div>
                            </div>    
                        </li>
                    <% } %>
                </ul>
            </form>
               
            </div>


        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script type="text/javascript" src="/js/home.js"></script>
    </body>
</html>



